@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans TC', 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	user-select: none;
}

button {
	border: 0;
	color: #ffffff;
	margin: 0;
	padding: 0;
	outline: none;

	&:focus {
		border: 0;
		outline: none;
	}
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}