.main {
	display: flex;
	height: 100vh;

	>.left-panel {
		display: flex;
		flex-direction: column;
		width: 25vw;

		>.profile-wrapper {
			background: linear-gradient(90deg, #fd277c, #ff7655);
			display: flex;
			align-items: center;
			height: 9%;

			>img.profile-picture {
				width: 10%;
				margin: 20px;
				border-radius: 50%;
			}

			>.profile-title {
				font-size: 32px;
				font-weight: bold;
				color: #ffffff;
			}
		}

		>.mode-buttons {
			height: 6%;
			display: flex;
			align-items: center;
			border-bottom: 2px solid #e2e5e8;

			>button {
				margin-left: 10%;
				color: #000000;
				background-color: #ffffff;
				font-weight: bold;

				&.mode-choosing {
					border-bottom: 2px solid #fd5068;
				}
			}
		}

		>.messages {
			height: 84%;
			position: relative;
			background-color: #f8fbfb;
			padding-top: 3%;

			&::before {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				pointer-events: none;
				box-shadow: inset -1em 0 7em -7em black;
				content: "";
			}
		}
	}
}